.toolbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #38d39f;
    height: 36px;
    z-index: 80;
}
.toolbar_navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.toolbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

}

.spacer{
    flex: 1;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex
}
.toolbar_navigation-items li{
    padding: 0 0.5rem;
}

.toolbar_navigation-items a{
    color: white;
    text-decoration: none;
}
.toolbar_navigation-items a:hover , 
.toolbar_navigation-items a:active{
    color: black;
}

@media (max-width: 768px){
    .toolbar_navigation-items{
        display: none;
    }
}
@media(min-width: 769px){
    .toolbar_toggle-button{
        display: none;
    }
    .toolbar_logo{
        margin-left: 0;
    }
}